* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
}
img,
svg {
  vertical-align: middle;
}
ul {
  list-style: none;
}
.container {
  width: 90%;
  margin: 0 auto;
  padding: 5%;
  text-align: justify;
  font-size: 1.3rem;
}

h1 {
  text-align: center;
  font-size: 2rem;
  padding: 3%;
  color: black;
  text-shadow: #6494aa;
  background-color: #89ce94;
  margin-bottom: 0px;
}

h2 {
  margin: 0 0 15px 0;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

/*                                             HEADER                                                        */

.header,
.dropdown-menu {
  background-color: #70a288;
  color: white;
}

.header__logo {
  width: 13vw;
}
.navbar {
  padding-right: 5%;
}
.nav-link {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
  padding: 8px 12px 8px 12px;
  margin: 6px;
  font-size: 1.2rem;
}
.-proceso {
  color: black;
  font-weight: bold;
}
.nav-link:hover {
  background-color: #476c9b;
  color: white;
  transition-duration: 700ms;
  transform: scale(1.1);
}
.dropdown-item {
  color: white;
  font-size: 1.2rem;
}
.dropdown-item:hover {
  color: white;
  border-radius: 10px;
  background-color: #476c9b;
  transition-duration: 700ms;
}

/*                                               INDEX                                                      */
.carousel {
  opacity: 0.9;
}

.tarjetas {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 4%;
  background-color: #75b09c;
  padding-top: 4%;
  padding-bottom: 2%;
}

.card:hover {
  transform: scale(1.13);
  transition-duration: 800ms;
}

/*                                             NOSOTROS                                              */
.axel,
.lola,
.luisi,
.-description {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.-img {
  width: 100vw;
}
/* media query*/
@media screen and (min-width: 768px) {
  .axel,
  .lola,
  .luisi {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    padding-top: 20px;
    align-items: center;
  }
  .-description {
    text-shadow: black;
    width: 60vw;
  }
  .-img {
    width: 30vw;
    height: 35vw;
    border-radius: 6vw;
  }
  .-img:hover {
    transform: scale(1.07);
    transition-duration: 700ms;
  }
}
.axel {
  background-color: #84bcda;
}
.luisi {
  background-color: #dab785;
  flex-direction: row-reverse;
}
.lola {
  background-color: #e2eb98;
}
.picturecontainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  justify-content: center;
  justify-items: stretch;
  align-items: stretch;
  align-content: center;
  background-color: #75b09c;
  padding-top: 40px;
  padding-bottom: 40px;
}
.picturecontainer img {
  width: 31vw;
  border-radius: 3%;
  opacity: 0.8;
}

.picturecontainer img:hover {
  transform: scale(1.08);
  transition-duration: 800ms;
  opacity: 1;
  z-index: 1;
}

/*                                                CONTACT                                               */

.form {
  border: none;
  line-height: 2.2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}
.contact {
  background-color: #a0ca92;
  padding-bottom: 3%;
  padding-top: 2%;
}
input {
  border-radius: 2rem;
  font-family: "Quicksand";
  margin: 0.4rem;
}
input[type="text"] {
  border: 0.6rem solid;
  border-color: #476c9b;
  background-color: #476c9b;
  color: white;
  width: 90%;
}
input[type="text"]::placeholder {
  color: white;
}
textarea {
  width: 90%;
  font-family: "Quicksand";
  color: #2f3e46;
}

textarea::placeholder {
  color: #2f3e46;
}
select {
  font-family: "Quicksand";
  background-color: #476c9b;
  border-radius: 2rem;
  text-align: center;
  color: white;
  padding: 0.25rem;
  width: 70%;
}
.terms {
  margin-top: 3%;
  font-size: 1.4rem;
  padding-bottom: 3%;
}
.button {
  border: none;
  color: white;
  border-radius: 2rem;
  padding: 0.6rem 1rem;
  width: 45%;
  font-size: 1.2rem;
}
.button:hover {
  opacity: 0.85;
  transition-duration: 700ms;
}
.button--state-ok {
  background-color: #4daa57;
}
.button--state-bad {
  background-color: #984447;
}
/* media query*/
@media screen and (min-width: 768px) {
  select {
    width: 25%;
  }
  textarea {
    width: 50%;
  }
  input[type="text"] {
    width: 50%;
  }
  .button {
    width: 25%;
  }
}

.faq {
  width: 90%;
  margin: 0 auto;
  padding: 5%;
  text-align: justify;
  font-size: 1.1rem;
}

/*                                                     FOOTER                                     */

.footer {
  height: 40rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-image: url(../imgs/footer.jpg);
  background-size: cover;
}
/* media query*/
@media screen and (min-width: 768px) {
  .footer {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
  }
}
.footerLogo__image {
  height: 20vh;
}

.footerNavlist__link {
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: bold;
  opacity: 0.7;
  color: black;
  text-transform: uppercase;
}
.footerNavlist__link:hover {
  opacity: 1;
  transition-duration: 700ms;
}
.footerSocial {
  font-size: 350%;
  padding-right: 1%;
}
.footerSocial__link {
  color: black;
  opacity: 0.7;
}
#wpp:hover,
#insta:hover,
#fb:hover {
  opacity: 1;
  transition-duration: 700ms;
}
#wpp:hover {
  color: #087e2f;
}
#insta:hover {
  color: #b81d72;
}
#fb:hover {
  color: #2325a1;
}

/*                                                          PARALLAX */

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45rem;
  max-width: 100%;
  position: relative;
}
.texto-int {
  color: #fff;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: 25%;
}
.parallax h2 {
  font-size: 3.8rem;
}
.parallax h3 {
  font-size: 3rem;
}

.estilos-img-uno {
  background-image: url("../imgs/estilos.jpg");
}

.estilos-img-dos {
  background-image: url("../imgs/ipa.jpg");
}

.estilos-img-tres {
  background-image: url("../imgs/irish.jpg");
}

.estilos-img-cuatro {
  background-image: url("../imgs/golden.jpg");
}

.estilos-img-cinco {
  background-image: url("../imgs/oatmeal.jpg");
}

.procesogeneral {
  background-image: url("../imgs/proceso.png");
}

.proceso-img-uno {
  background-image: url("../imgs/molienda.jpg");
}

.proceso-img-dos {
  background-image: url("../imgs/macerado.jpg");
}

.proceso-img-tres {
  background-image: url("../imgs/hervor.jpg");
}

.proceso-img-cuatro {
  background-image: url("../imgs/fermentacion.jpg");
}

.proceso-img-cinco {
  background-image: url("../imgs/envasado.jpg");
}
