/*                                                  RESET/GENERAL SETTINGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

img,
svg {
  vertical-align: middle;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 5%;
  text-align: justify;
  font-size: 1.3rem;
}

h1 {
  font-size: 2rem;
  color: black;
  text-align: center;
  padding: 3%;
  text-shadow: #6494aa;
  background-color: #89ce94;
  margin-bottom: 0px;
}

h2 {
  margin: 0 0 15px 0;
  text-align: center;
  padding: 10px 0px 10px 0px;
}

html {
  scroll-behavior: smooth;
}

/*                                                 HEADER                                                        */
.header {
  background-color: #70a288;
  color: white;
}

.dropdown-menu {
  background-color: #476c9b;
  color: white;
}

.header__logo {
  width: 13vw;
}

.navbar {
  padding-right: 5%;
}

.nav-link {
  font-size: 1.3rem;
  color: white;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 8px 12px 8px 12px;
  margin: 6px;
}
.nav-link:hover {
  background-color: #476c9b;
  color: white;
  opacity: 1;
  transition-duration: 700ms;
  transform: scale(1);
}

.-proceso {
  color: black;
  font-weight: bold;
}

.dropdown-item {
  font-size: 1.2rem;
  color: white;
}
.dropdown-item:hover {
  background-color: white;
  color: black;
  opacity: 1;
  transition-duration: 700ms;
  transform: scale(1);
  border-radius: 10px;
}

/*                                                          FOOTER                                     */
.footer {
  height: 40rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  justify-content: space-around;
  background-image: url(../imgs/footer.webp);
  background-size: cover;
}

/*             media query*/
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.footerLogo__image {
  height: 20vh;
}

.footerNavlist__link {
  font-size: 1.6rem;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0.7;
}
.footerNavlist__link:hover {
  opacity: 1;
  transition-duration: 700ms;
  transform: scale(1);
}

.footerSocial {
  font-size: 350%;
  padding-right: 1%;
}

.footerSocial__link {
  color: black;
  opacity: 0.7;
}

#fb:hover {
  opacity: 1;
  transition-duration: 700ms;
  transform: scale(1);
  color: #2325a1;
}

#wpp:hover {
  opacity: 1;
  transition-duration: 700ms;
  transform: scale(1);
  color: #087e2f;
}

#insta:hover {
  opacity: 1;
  transition-duration: 700ms;
  transform: scale(1);
  color: #b81d72;
}

/*                                               INDEX                                                      */
.carousel {
  opacity: 0.9;
}

.tarjetas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 4%;
  background-color: #75b09c;
  padding: 4% 0% 2% 0%;
}
.tarjetas h2 {
  font-size: 1.6rem;
  text-align: start;
}

.card:hover {
  opacity: 1;
  transition-duration: 700ms;
  transform: scale(1.13);
}

.totop__icon {
  position: fixed;
  right: 10px;
  bottom: 80px;
  width: 50px;
  opacity: 70%;
}
.totop__icon:hover {
  opacity: 100%;
}

/*                                             NOSOTROS                                              */
.-description, .lola, .luisi, .axel {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.axel {
  background-color: #84bcda;
}

.luisi {
  background-color: #dab785;
}

.lola {
  background-color: #e2eb98;
}

.-img {
  width: 100vw;
}

/* media query*/
@media screen and (min-width: 768px) {
  .axel,
  .lola {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px 20px 0px;
  }
  .luisi {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px 20px 0px;
  }
  .-box {
    text-shadow: black;
    width: 60vw;
  }
  .-img {
    width: 30vw;
    height: 35vw;
    border-radius: 6vw;
  }
  .-img:hover {
    opacity: 1;
    transition-duration: 700ms;
    transform: scale(1.06);
  }
}
.picturecontainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  justify-content: center;
  justify-items: stretch;
  align-items: stretch;
  align-content: center;
  background-color: #75b09c;
  padding: 40px 0px 40px 0px;
}
.picturecontainer img {
  width: 31vw;
  border-radius: 3%;
  opacity: 0.8;
}
.picturecontainer img:hover {
  opacity: 1;
  transition-duration: 700ms;
  transform: scale(1.08);
  z-index: 1;
}

/*                                                CONTACT                                               */
.form {
  line-height: 2.2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.contact {
  padding: 2% 0% 3% 0%;
}

input {
  border-radius: 2rem;
  border: 2rem;
  font-family: "Quicksand";
  margin: 0.4rem;
  color: white;
  text-align: center;
  border-color: #476c9b;
  background-color: #476c9b;
}
input [type=text] {
  border: 2rem solid;
  width: 90%;
  color: white;
}

textarea {
  width: 90%;
  font-family: "Quicksand";
  color: #2f3e46;
}
textarea::placeholder {
  color: #2f3e46;
}

select {
  font-family: "Quicksand";
  background-color: #476c9b;
  border-radius: 1rem;
  border: 1rem;
  color: white;
  text-align: center;
  padding: 0.25rem;
  width: 70%;
}

.terms {
  margin-top: 3%;
  font-size: 1.4rem;
  padding-bottom: 3%;
}

.button {
  border: none;
  border-radius: 2rem;
  padding: 0.6rem 1rem;
  width: 45%;
  font-size: 1.2rem;
  color: white;
}
.button:hover {
  opacity: 0.85;
  transition-duration: 700ms;
  transform: scale(1);
}

.color--state-ok {
  background-color: #4daa57;
}

.color--state-bad {
  background-color: #984447;
}

.color--state-blue {
  background-color: #476c9b;
}

/* media query*/
@media screen and (min-width: 768px) {
  select {
    width: 28%;
  }
  textarea {
    width: 50%;
  }
  input[type=text] {
    width: 50%;
  }
  .button {
    width: 25%;
  }
}
.faq {
  width: 90%;
  margin: 0 auto;
  padding: 5%;
  text-align: justify;
  font-size: 1.1rem;
}

/*                                                          PARALLAX */
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45rem;
  max-width: 100%;
  position: relative;
}

.texto-int {
  font-weight: bold;
  color: #fff;
  text-align: center;
  position: relative;
  top: 25%;
}

.parallax h2 {
  font-size: 3.8rem;
}

.parallax h3 {
  font-size: 3rem;
}

.estilos-img-uno {
  background-image: url("../imgs/estilos.webp");
}

.estilos-img-dos {
  background-image: url("../imgs/ipa.webp");
}

.estilos-img-tres {
  background-image: url("../imgs/irish.webp");
}

.estilos-img-cuatro {
  background-image: url("../imgs/golden.webp");
}

.estilos-img-cinco {
  background-image: url("../imgs/oatmeal.webp");
}

.proceso-img-procesogeneral {
  background-image: url("../imgs/proceso.webp");
}

.proceso-img-uno {
  background-image: url("../imgs/molienda.webp");
}

.proceso-img-dos {
  background-image: url("../imgs/macerado.webp");
}

.proceso-img-tres {
  background-image: url("../imgs/hervor.webp");
}

.proceso-img-cuatro {
  background-image: url("../imgs/fermentacion.webp");
}

.proceso-img-cinco {
  background-image: url("../imgs/envasado.webp");
}

/*# sourceMappingURL=styles.css.map */
