$badred: #984447;
$pastelblue: #476c9b;
$okgreen: #4daa57;
$wppgreen: #087e2f;
$instared: #b81d72;
$faceblue: #2325a1;
$headercolor: #70a288;
$cardcolor: #75b09c;
$contactcolor: #a0ca92;
$textarea: #2f3e46;
$axel: #84bcda;
$luisi: #dab785;
$lola: #e2eb98;
$h1back: #89ce94;

$redes: (
  fb: $faceblue,
  wpp: $wppgreen,
  insta: $instared,
);

$paraestilos: (
  uno: url("../imgs/estilos.webp"),
  dos: url("../imgs/ipa.webp"),
  tres: url("../imgs/irish.webp"),
  cuatro: url("../imgs/golden.webp"),
  cinco: url("../imgs/oatmeal.webp"),
);

$paraprocesos: (
  procesogeneral: url("../imgs/proceso.webp"),
  uno: url("../imgs/molienda.webp"),
  dos: url("../imgs/macerado.webp"),
  tres: url("../imgs/hervor.webp"),
  cuatro: url("../imgs/fermentacion.webp"),
  cinco: url("../imgs/envasado.webp"),
);

@mixin hoverr($opac, $escala) {
  opacity: $opac;
  transition-duration: 700ms;
  transform: scale($escala);
}

@mixin dflex($dir, $just, $align) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $dir;
  justify-content: $just;
  align-items: $align;
}

@mixin textstyle($size, $color, $decoration, $transform, $align) {
  font-size: $size;
  color: $color;
  text-decoration: $decoration;
  text-transform: $transform;
  text-align: $align;
}
